<section id="anmeldung">
    <div class="container">
        <div class="section-header">
            <h2>Contact</h2>
        </div>
            <div class="card">
                <div class="card-grid">
                    <div class="contact-info">
                        <h4> Event Contact</h4>
                        <ul>
                            <li> <span> Email: </span> <a style="color: var(--secondary-color); text-decoration: none" href="mailto:info@lensterduathlon.lu"> info@lensterduathlon.lu</a> </li>
                            <li> <span> Tel: </span> <a style="color: var(--secondary-color); text-decoration: none" href="tel:+352621374930"> (+352) 621 374 930 </a> </li>
                            <li> <span> Verantwortliche Entität: </span>  </li>
                            Karibu a.s.b.l. <br>
                            18, rue Neuve <br>
                            L–6137 Junglinster <br>

                        </ul>

                    </div>
                    <div class="contact-info">
                        <h4> Website Contact</h4>
                        <ul>
                            <li> <span> Email: </span> <a style="color: var(--secondary-color); text-decoration: none" href="mailto:webmaster@lensterduathlon.lu?subject=Request%20concerning%20lensterduathlon.lu "> webmaster@lensterduathlon.lu</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
