<div id="login-input__container">
    <form action="/api/auth/login" method="POST" style="margin-top: 5rem" id="login-input__form">

        <h1 id="login-form__title">  CMS-Admin Login </h1>

        <label for="login-email__input" class="login-form__label"> Email: </label>
        <input type="email" id="login-email__input" class="login-form__input" name="email" required> <br>

        <label for="login-password__input" class="login-form__label"> Password: </label>
        <input type="password" id="login-password__input" class="login-form__input" name="password" required> <br>

        <button type="submit" id="login-button"> Login </button>
    </form>
</div>