<div style="display: flex; justify-content: center; flex-direction: column; align-items: center; height: 36vh; gap: 1.5rem;">
    <h1> TBA - To be announced </h1>
    <p> For more information contact <a href="mailto:info@lensterduathlon.lu" style="text-decoration: none; color: var(--primary-color); ">info@lensterduathlon.lu</a></p>
</div>