<!-- Footer -->
<footer>
    <div class="footer-container">
        <div class="footer-column">
            <h3>Über das Event</h3>
            <p>Die nationalen Duathlon-Meisterschaften sind die wichtigste Veranstaltung in Luxemburg, bei der Laufen und Radfahren kombiniert werden. Kämpfen Sie um den nationalen Titel in einem unvergesslichen Rennen durch Junglinsters wunderschöne Landschaften.</p>
        </div>
        <div class="footer-column">
            <h3> Infos zum Event</h3>
            <ul>
                <li><a href="#">Programm</a></li>
                <li><a href="#">Jetzt anmelden</a></li>
                <li><a href="#">Strecken</a></li>
            </ul>
        </div>
        <div class="footer-column">
            <h3>Kontakt</h3>
            <p>Wenn Sie Fragen haben oder weitere Informationen benötigen, können Sie uns gerne kontaktieren:</p>
            <p>info@duathlonevent.com</p>
            <p>(+123) 456 789 012</p>
            <div class="social-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-column">
            <h3>Folgt uns</h3>
            <p>Stay updated with the latest news and event information through our social media channels.</p>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>&copy; 2025 KARIBU a.s.b.l. . All rights reserved.</p>
    </div>
</footer>