<div class="logo-container">
        <div class="logo-text">
            <a href="/" style="text-decoration: none">
                <h1 style="font-size: 1.7rem">Lënster Duathlon</h1>
                <p>POWERED BY Agence Steve Greisch</p>
            </a>
        </div>
        <div class="desktop-logo">
            <a href="https://karibu.lu">
                <img src="/public/images/kb-logo.jpeg" alt="Logo" class="logo-image">
            </a>
        </div>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#RaceInfo">Info</a></li>
            <li><a href="#Races">Wettkämpfe</a></li>
            <li><a href="#Archive">Archive</a></li>
            <li><a href="#sponsors">Sponsoren</a></li>
            <li><a href="#help">Helfer</a></li>
            <li><a href="#contact">Kontakt</a></li>
        </ul>
    </nav>